[submodule "dreamgaussian_deploy"]
	path = dreamgaussian_deploy
	url = https://github.com/Dimensify/dreamgaussian_deploy
[submodule "dreamgaussian"]
	path = dreamgaussian
	url = https://github.com/dreamgaussian/dreamgaussian
[submodule "MVDream-threestudio"]
	path = MVDream-threestudio
	url = https://github.com/Dimensify/MVDream-threestudio
[submodule "ImageDream"]
	path = ImageDream
	url = https://github.com/Dimensify/ImageDream
