[submodule "dreamgaussian_deploy"]
	path = dreamgaussian_deploy
	url = https://github.com/Dimensify/dreamgaussian_deploy
[submodule "dreamgaussian"]
	path = dreamgaussian
	url = https://github.com/dreamgaussian/dreamgaussian
[submodule "MVDream-threestudio"]
	path = MVDream-threestudio
	url = https://github.com/Dimensify/MVDream-threestudio
[submodule "ImageDream"]
	path = ImageDream
	url = https://github.com/Dimensify/ImageDream
[submodule "TripoSR"]
	path = TripoSR
	url = https://github.com/Dimensify/TripoSR
[submodule "CRM"]
	path = CRM
	url = https://github.com/thu-ml/CRM
[submodule "stable-fast-3d"]
	path = stable-fast-3d
	url = https://github.com/Stability-AI/stable-fast-3d
[submodule "TRELLIS"]
	path = TRELLIS
	url = https://github.com/microsoft/TRELLIS
